a{ /* Det här tar bort understrek från texter. */
text-decoration:none;
}

*{ /* Det här sätter en box runtom alla classer och id. */
box-sizing:border-box;
}

body{ /* Det här är koden som bestämer hur text ska se ut, och hur backgrunden kommer at se ut. */
background-color: rgba(255, 0, 255);
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:1.6em;
margin:0;
padding-right:8%;
padding-left:8%;
}

.container{ /* kod som får allting som har classen contaier att se finare ut på hemsidan. */
width:80%;
margin:auto;
overflow:hidden;
}

#showcase{ /* koden som fixar mitten delen av alla sidorna, förutom "Log in or create account". */
background-image: url("../bilder/Hexagon.jpg");
background-position: center;
padding-top: 25px;
padding-bottom: 25px;
}

#main-header { /* kod som fixar bilden som finns bacom "home" knappen. */
background-image:url('../bilder/Blue.png');
background-position:center;
text-align: center;
}

#navbar{ /* kod som fixar hur "navbar" kommer at se ut. */
text-align:center;
background-color:#000000;
color:#fff;
}

#navbar ul{ /* kod som gör så att texten i "navbar" är centrerad. */
list-style: none;
}

#navbar li{ /* kod som gör så att texten i "navbar" är brevid varanda istället för på varandra. */
display:inline;
}

#navbar a{ /* Kod som bestämmer hur texten i "navbar" kommer att se ut. */
color:#fff;
text-decoration: none;
font-size:18px;
padding:20px 10px;
}

#navbar a:hover{ /* kod som gör så att när han håller musen över texten som befinner sig i navbaren, så blir det en blå box runtom texten. */
background:#04B4AE;
color:#000000;
}

#main-footer{ /* koden som fixar strukturen för fottern på hemsidan. */
background:#1C1C1C;
color:#fff;
text-align: center;
padding:20px;
}

.circle { /* Kod som gör så det "Home" knappen är inuti en cirkel */
width: 150px;
height: 100px;
line-height: 45px;
border-radius: 50px;
font-size: 20px;
color: #fff;
background: white;
}

#coolid{ /* Kod som gör så att cirkel befinner sig i mitten av "main-header". */
margin:10px;
display: flex;
justify-content: center;
}

#center{ /* kod som gör så att texten "Choosen Restaurants", "Edit Restaurants", "Inlogg" och "Randomize här" befinner sig i mitten av Showcase. */
display:flex;
justify-content:center;
}

/* ////////// Css code for the websites login page ////////// */
#login-box{ /* koden som gör så att "Log in r create account" har en box runtom sin text. */
text-align: center;
border: 2px solid black;
background: rgba(40, 40, 40, 0.9);
margin: 10px;
padding: 10px;
width: 40%;
min-width: 300px;
height: 300px;
border-radius: 20px;
}

#logg-in-ut{/* Css code for the "log-in" and "log-out" button on the login page */
color: white;
background: rgba(52, 52, 52);
border-radius: 5px;
}

#username-password-register-inlog-text{/* Css code for the username, password and register text on the login page */
color: white;
}

#username-password-input{/* Css code for the username and password input boxes on the login page */
border-radius: 5px;
color: black;
background-color: rgba(210, 210, 210);
}
/* ////////// End of login page code ////////// */

/* ////////// Css code for the websites resturant pages ////////// */
#resturant-box{/* Code for the grey box on "Choosen/Edit Restaurants" pages */
border: 2px solid black;
background: rgba(40, 40, 40, 0.9);
min-width: 1000px;
height: 450px;
border-radius: 20px;
text-align: center;
color: white;
}

#map_list{/* Code that makes the blue boxes on "Choosen/Edit Restaurants" go besides eachoter */
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#map_placeholder{/* Code for the box to the left on the "Choosen Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
margin: 20px;
width: 40%;
height: 300px;
color: white;
}

#list{/* Code for the box to the right side on the "Choosen Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
width: 40%;
margin: 20px;
height: 300px;
color: white;
}

#map_edit{/* Code for the box to the left on the "Edit Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
margin: 20px;
width: 40%;
height: 300px;
color: white;
}

#list_edit{/* Code for the box to the right side on the "Edit Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
width: 40%;
margin: 20px;
height: 300px;
color: white;
}

#restinput{/* Code for the user resturant input on the "Edit Restaurants" page */
text-align: center;
width: 200px;
border-radius: 5px;
color: black;
background-color: rgba(210, 210, 210);
margin: 10px;
}

#add{/* Code for the add button on the "Edit Restaurants" page */
color: white;
background: rgba(52, 52, 52);
border-radius: 5px;
}

#reset{/* Code for the clear button on the "Edit Restaurants" page */
color: white;
background: rgba(52, 52, 52);
border-radius: 5px;
}

#error{/* Code that makes the error message that pops up on "Edit Restaurants" page to turn red */
color: rgba(255, 0, 0);
}
/* ////////// End of resturant page code ////////// */

@media screen and(max-width:900px){
#main{
width:100%;
float:none;
 }
}