a{ /* Det här tar bort understrek från texter. */
text-decoration:none;
}

*{ /* Det här sätter en box runtom alla classer och id. */
box-sizing:border-box;
}

body{ /* Det här är koden som bestämer hur text ska se ut, och hur backgrunden kommer at se ut. */
background-image: url("../bilder/Website_background.png");
background-position: center;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:1.6em;
margin:0;
padding-right:8%;
padding-left:8%;
}

/* ////////// Css code for things on every page ////////// */
.container{ /* Css code for everything on the website that makes it look a little big better */
width:80%;
margin:auto;
overflow: hidden;
/*border: solid 1px orange;*/
}

#showcase{ /* Css code for the area behind all the pages in the middle */
background-image: url("../bilder/Website_background.png");
background-position: center;
padding-top: 25px;
padding-bottom: 25px;
}

#main-header { /* Css code for the area behind the "home" text */
background-image:url('../bilder/Website_background.png');
background-position: center;
text-align: center;
}

#main-footer{/* Css code for the footer that appears on all the pages */
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

.button{/* Css code for multible buttons */
color: white;
background: rgba(52, 52, 52);
border-radius: 5px;
cursor: pointer;
}
/* ////////// End of all page code ////////// */


/* ////////// Css code for the websites navbar ////////// */
#navbar{ /* Code for the navbar box */
text-align: center;
background-color: #000000;
}

#navbar a{ /* Code for the text and teh area around it */
text-decoration: none;
color: lightgrey;
font-size: 18px;
padding: 10px 10px;
}

#navbar a:hover{ /* Code that changes text and the area around it when a mouse hovers over it  */
text-decoration: underline;
color: white;
border-radius: 20px;
cursor: pointer;
}
/* ////////// End of navbar code ////////// */



.circle{ /* Kod som gör så det "Home" knappen är inuti en cirkel */
min-width: 250px;
height: 100px;
line-height: 45px;
border-radius: 60px;
font-size: 20px;
background: rgba(40, 40, 40, 0.9);
text-decoration: none;
border: 2px solid blue;
}

.circle a{
color: white;
}

.circle a:hover{
text-decoration: underline;
color: black;
}

#coolid{ /* Kod som gör så att cirkel befinner sig i mitten av "main-header". */
margin:10px;
display: flex;
justify-content: center;
}

/* ////////// Css code for the websites login page ////////// */
#center{
display: flex;
justify-content: center;
}

#login-box{ /* koden som gör så att "Log in r create account" har en box runtom sin text. */
text-align: center;
border: 2px solid black;
background: rgba(40, 40, 40, 0.9);
margin: 10px;
padding: 10px;
width: 40%;
min-width: 300px;
height: 300px;
border-radius: 20px;
}

#username-password-inlog-text{/* Css code for the username, password and register text on the login page */
color: white;
}

#register-link{/* Css code for the "register an account" text on the login page */
color: lightgrey;
}

#register-link:hover{/* Css code for the "register an account" text on the login page */
color: white;
text-decoration: underline;
}

#username-password-input{/* Css code for the username and password input boxes on the login page */
border-radius: 5px;
color: black;
background-color: rgba(210, 210, 210);
}

#gay-error{/* Css code for the error message on the login page */
color: red;
text-align: center;
font-size: 15px;
}
/* ////////// End of login page code ////////// */



/* ////////// Css code for the websites resturant pages ////////// */
#resturant-box{/* Code for the grey box on "Choosen/Edit Restaurants" pages */
border: 2px solid black;
background: rgba(40, 40, 40, 0.9);
width: 100%;
height: auto;
border-radius: 20px;
text-align: center;
color: white;
}

#map_list{/* Code that makes the blue boxes on "Choosen/Edit Restaurants" go besides eachoter */
display: flex;
justify-content: center;
flex: wrap;
}

#list{/* Code for the box to the right side on the "Choosen Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
width: 40%;
margin: 20px;
height: 300px;
color: white;
}

#map_edit{/* Code for the box to the left on the "Edit Restaurants" page */
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
margin: 20px;
width: 40%;
height: 300px;
color: white;
}

#list_edit{/* Code for the box to the right side on the "Edit Restaurants" page */
border-radius: 8px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
width: 50%;
margin: 20px;
height: auto;
color: white;
}

#restinput{/* Code for the user resturant input on the "Edit Restaurants" page */
text-align: center;
width: 200px;
border-radius: 5px;
color: black;
background-color: rgba(210, 210, 210);
margin: 10px;
}

#error{/* Code that makes the error message that pops up on "Edit Restaurants" page to turn red */
color: rgba(255, 0, 0);
}

.error2::-webkit-input-placeholder{/* code */
color: rgba(255, 0, 0);
}
/* ////////// End of resturant page code ////////// */

#winner{
border-radius: 5px;
border: 2px solid black;
text-align: center;
background: rgba(23, 0, 255, 0.2);
margin: 20px;
width: 40%;
height: 100px;
color: limegreen;
}

#list_id{
text-align: center;
max-width: 150px;
border-radius: 5px;
color: black;
background-color: rgba(210, 210, 210);
margin: 10px;
}

@media screen and(max-width:900px){
#main{
width:100%;
float:none;
 }
}